@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model Greenfinch.Newsletter.Web.MVC.ViewModels.SubscriberViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewBag.Title = Localizer["Title"];
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <h1>@SharedLocalizer["Title"]</h1>
                <h3>@SharedLocalizer["AppDescription"]</h3>
            </div>


            <div class="col-md-@(@SignInManager.IsSignedIn(User)  ? 3 : 6)">
                <a  asp-controller="Newsletter" asp-action="Subscription" style="font-size:15px;" class="btn btn-primary btn-lg btn-block">@Localizer["NewsletterSunscription"]</a>
            </div>

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-md-3">
                    <a   asp-controller="Newsletter" asp-action="SubscribersList"  style="font-size:15px;" class="btn btn-warning btn-lg btn-block">@SharedLocalizer["SubscriberList"]</a>
                </div>
            }
            <div class="col-md-3">
                <a  asp-controller="Auth" asp-action="Login" style="font-size:15px;" class="btn btn-warning btn-lg btn-block">@Localizer["AdminLogin"]</a>
            </div>

            <div class="col-md-3">
                <a  style="font-size:15px;" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#aboutusmodal">@Localizer["AboutUs"]</a>
            </div>




        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="aboutusmodal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">About Us</h4>
                </div>
                <div class="modal-body">
                    <p>@SharedLocalizer["AboutUsDescription"]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Close"]</button>
                </div>
            </div>

        </div>
    </div>
</div>



