@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IHtmlLocalizer<SharedResources> SharedHtmlLocalizer

@if (SignInManager.IsSignedIn(User))
{
    <form  asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li><a asp-area="" asp-controller="Newsletter" asp-action="SubscribersList">@SharedLocalizer["SubscriberList"]</a></li>
            <li>
                <button type="submit" asp-controller="Auth" asp-action="Logout" class="btn btn-link navbar-btn navbar-link">@SharedLocalizer["Logout"]</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Auth" asp-action="Login">@SharedLocalizer["AdminLogin"]</a></li>
    </ul>
}